<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<h1>Delete Note</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/note/list">Note list</a>
</p>
<form th:action="@{/note/delete}" th:object="${note}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table class="zui-table">
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>Note Type:</td>
            <td>
                <select th:field="*{noteType}">
                    <option th:each="n : ${noteTypes}" th:value="${n.id}" th:text="${n.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Note"></td>
        </tr>
    </table>
</form>
</body>
</html>